<div class = "container">
    <footer class = "footer">
        <small>
            Copyright &copy; <a href="https://www.udemy.com">The complete Ruby On Rails Developer</a>
            by <a href="http://www.mashrurhossain.com/">Mashrur Hossain</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About",about_path%></li>
            </ul>
        </nav>
    </footer>
    
</div>